$main-transition: 0.3s;
$maxMobile: 767px;
$minSmall: 768px;
$minMedium: 992px;
$minLarge: 1200px;
$black-color: #111111;
$grey-color: #83888f;
$navy-color: #2c343e;
$green-color: #0e8784;
$pink-color: #fdd6ba;
